@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Whups</h3>
<p>
    Something unexpected happened, but it isn't a cat-tastrophe.  Sammy will be working on it after his cat nap.
</p>
<img src="~/images/Sammy-139.png" alt="Sammy Software">
<div>
    <a asp-action="Index">Return Home</a>
</div>
