@{
    ViewData["Title"] = "Admin";
}

<h2>Admin</h2>

<div>
    <a asp-controller="cart" asp-action="checkout">Checkout</a>
</div>
<div>
    <a asp-controller="home" asp-action="index">Continue Shopping</a>
</div>
